<!DOCTYPE html>
<html lang="HTML5">

<head>
  <link rel="stylesheet" href="/static/stylesheet.css">
    <title>Petition Parser</title>
    <script src="https://kit.fontawesome.com/36af0cf4b0.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">

  <div class="demo-flex-spacer"></div>

    <form method="POST">
      <div class="webflow-style-input">
        <input pattern="https:\/\/petition\.president\.gov\.ua\/petition\/\d{6}"
               title="Please, enter a valid petition url" name="url" class="input"
               placeholder="Enter petition url"/>
        <button type="submit" name="submit_button" value="Do Something"><i class="fas fa-arrow-right"></i></button>
      </div>
    </form>

  <div class="demo-flex-spacer"></div>

  <a class="demo" href="https://t.me/andylvua" title="Developer">Contact developer</a>

</div>

</body>
</html>